<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fileTypes</key>
    <array>
        <string>page</string>
        <string>email</string>
        <string>component</string>
    </array>
    <key>firstLineMatch</key>
    <string>&lt;(?i:(apex:\s*))</string>
    <key>injections</key>
    <dict>
        <key>R:text.visualforce - comment.block</key>
        <dict>
            <key>comment</key>
            <string>Use R: to ensure this matches after any other injections.</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>match</key>
                    <string>&lt;</string>
                    <key>name</key>
                    <string>invalid.illegal.bad-angle-bracket.visualforce</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>keyEquivalent</key>
    <string>^~H</string>
    <key>name</key>
    <string>Visualforce</string>
    <key>patterns</key>
    <array>
        <dict>
            <key>begin</key>
            <string>(&lt;)([a-zA-Z0-9:]++)(?=[^&gt;]*&gt;&lt;/\2&gt;)</string>
            <key>beginCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(&gt;(&lt;)/)(\2)(&gt;)</string>
            <key>endCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>meta.scope.between-tag-pair.visualforce</string>
                </dict>
                <key>3</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.visualforce</string>
                </dict>
                <key>4</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>meta.tag.any.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>(&lt;\?)(xml)</string>
            <key>captures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.xml.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(\?&gt;)</string>
            <key>name</key>
            <string>meta.tag.preprocessor.xml.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-generic-attribute</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#string-double-quoted</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#string-single-quoted</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>&lt;!--</string>
            <key>captures</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.comment.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>--\s*&gt;</string>
            <key>name</key>
            <string>comment.block.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>match</key>
                    <string>--</string>
                    <key>name</key>
                    <string>invalid.illegal.bad-comments-or-CDATA.visualforce</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#embedded-code</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>&lt;!</string>
            <key>captures</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>&gt;</string>
            <key>name</key>
            <string>meta.tag.sgml.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>begin</key>
                    <string>(?i:DOCTYPE)</string>
                    <key>captures</key>
                    <dict>
                        <key>1</key>
                        <dict>
                            <key>name</key>
                            <string>entity.name.tag.doctype.visualforce</string>
                        </dict>
                    </dict>
                    <key>end</key>
                    <string>(?=&gt;)</string>
                    <key>name</key>
                    <string>meta.tag.sgml.doctype.visualforce</string>
                    <key>patterns</key>
                    <array>
                        <dict>
                            <key>match</key>
                            <string>"[^"&gt;]*"</string>
                            <key>name</key>
                            <string>string.quoted.double.doctype.identifiers-and-DTDs.visualforce</string>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>begin</key>
                    <string>\[CDATA\[</string>
                    <key>end</key>
                    <string>]](?=&gt;)</string>
                    <key>name</key>
                    <string>constant.other.inline-data.visualforce</string>
                </dict>
                <dict>
                    <key>match</key>
                    <string>(\s*)(?!--|&gt;)\S(\s*)</string>
                    <key>name</key>
                    <string>invalid.illegal.bad-comments-or-CDATA.visualforce</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>include</key>
            <string>#embedded-code</string>
        </dict>
        <dict>
            <key>begin</key>
            <string>(?:^\s+)?(&lt;)((?i:style))\b(?![^&gt;]*/&gt;)</string>
            <key>captures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.style.visualforce</string>
                </dict>
                <key>3</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(&lt;/)((?i:style))(&gt;)(?:\s*\n)?</string>
            <key>name</key>
            <string>source.css.embedded.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
                <dict>
                    <key>begin</key>
                    <string>(&gt;)</string>
                    <key>beginCaptures</key>
                    <dict>
                        <key>1</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.tag.visualforce</string>
                        </dict>
                    </dict>
                    <key>end</key>
                    <string>(?=&lt;/(?i:style))</string>
                    <key>patterns</key>
                    <array>
                        <dict>
                            <key>include</key>
                            <string>#embedded-code</string>
                        </dict>
                        <dict>
                            <key>include</key>
                            <string>source.css</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>(?:^\s+)?(&lt;)((?i:script))\b(?![^&gt;]*/&gt;)(?![^&gt;]*(?i:type.?=.?text/((?!javascript).*)))</string>
            <key>beginCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.script.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(?&lt;=&lt;/(script|SCRIPT))(&gt;)(?:\s*\n)?</string>
            <key>endCaptures</key>
            <dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>source.js.embedded.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
                <dict>
                    <key>begin</key>
                    <string>(?&lt;!&lt;/(?:script|SCRIPT))(&gt;)</string>
                    <key>captures</key>
                    <dict>
                        <key>1</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.tag.visualforce</string>
                        </dict>
                        <key>2</key>
                        <dict>
                            <key>name</key>
                            <string>entity.name.tag.script.visualforce</string>
                        </dict>
                    </dict>
                    <key>end</key>
                    <string>(&lt;/)((?i:script))</string>
                    <key>patterns</key>
                    <array>
                        <dict>
                            <key>captures</key>
                            <dict>
                                <key>1</key>
                                <dict>
                                    <key>name</key>
                                    <string>punctuation.definition.comment.js</string>
                                </dict>
                            </dict>
                            <key>match</key>
                            <string>(//).*?((?=&lt;/script)|$\n?)</string>
                            <key>name</key>
                            <string>comment.line.double-slash.js</string>
                        </dict>
                        <dict>
                            <key>begin</key>
                            <string>/\*</string>
                            <key>captures</key>
                            <dict>
                                <key>0</key>
                                <dict>
                                    <key>name</key>
                                    <string>punctuation.definition.comment.js</string>
                                </dict>
                            </dict>
                            <key>end</key>
                            <string>\*/|(?=&lt;/script)</string>
                            <key>name</key>
                            <string>comment.block.js</string>
                        </dict>
                        <dict>
                            <key>include</key>
                            <string>source.js</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>(&lt;/?)((?i:body|head|visualforce)\b)</string>
            <key>captures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.structure.any.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(&gt;)</string>
            <key>name</key>
            <string>meta.tag.structure.any.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>(&lt;/?)((?i:address|blockquote|dd|div|section|article|aside|header|footer|nav|menu|dl|dt|fieldset|form|frame|frameset|h1|h2|h3|h4|h5|h6|iframe|noframes|object|ol|p|ul|applet|center|dir|hr|pre)\b)</string>
            <key>beginCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.begin.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.block.any.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(&gt;)</string>
            <key>endCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.end.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>meta.tag.block.any.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>(&lt;/?)((?i:a|abbr|acronym|area|b|base|basefont|bdo|big|br|button|caption|cite|code|col|colgroup|del|dfn|em|font|head|visualforce|i|img|input|ins|isindex|kbd|label|legend|li|link|map|meta|noscript|optgroup|option|param|q|s|samp|script|select|small|span|strike|strong|style|sub|sup|table|tbody|td|textarea|tfoot|th|thead|title|tr|tt|u|var)\b)</string>
            <key>beginCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.begin.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.inline.any.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>((?: ?/)?&gt;)</string>
            <key>endCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.end.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>meta.tag.inline.any.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>begin</key>
            <string>(&lt;/?)([a-zA-Z0-9:]+)</string>
            <key>beginCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.begin.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>entity.name.tag.other.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(&gt;)</string>
            <key>endCaptures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.tag.end.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>meta.tag.other.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-stuff</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>include</key>
            <string>#entities</string>
        </dict>
        <dict>
            <key>match</key>
            <string>&lt;&gt;</string>
            <key>name</key>
            <string>invalid.illegal.incomplete.visualforce</string>
        </dict>
    </array>
    <key>repository</key>
    <dict>
        <key>embedded-code</key>
        <dict>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#smarty</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#python</string>
                </dict>
            </array>
        </dict>
        <key>entities</key>
        <dict>
            <key>patterns</key>
            <array>
                <dict>
                    <key>captures</key>
                    <dict>
                        <key>1</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.entity.visualforce</string>
                        </dict>
                        <key>3</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.entity.visualforce</string>
                        </dict>
                    </dict>
                    <key>match</key>
                    <string>(&amp;)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)</string>
                    <key>name</key>
                    <string>constant.character.entity.visualforce</string>
                </dict>
                <dict>
                    <key>match</key>
                    <string>&amp;</string>
                    <key>name</key>
                    <string>invalid.illegal.bad-ampersand.visualforce</string>
                </dict>
            </array>
        </dict>
        <key>python</key>
        <dict>
            <key>begin</key>
            <string>(?:^\s*)&lt;\?python(?!.*\?&gt;)</string>
            <key>end</key>
            <string>\?&gt;(?:\s*$\n)?</string>
            <key>name</key>
            <string>source.python.embedded.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>source.python</string>
                </dict>
            </array>
        </dict>
        <key>smarty</key>
        <dict>
            <key>patterns</key>
            <array>
                <dict>
                    <key>begin</key>
                    <string>(\{(literal)\})</string>
                    <key>captures</key>
                    <dict>
                        <key>1</key>
                        <dict>
                            <key>name</key>
                            <string>source.smarty.embedded.visualforce</string>
                        </dict>
                        <key>2</key>
                        <dict>
                            <key>name</key>
                            <string>support.function.built-in.smarty</string>
                        </dict>
                    </dict>
                    <key>end</key>
                    <string>(\{/(literal)\})</string>
                </dict>
                <dict>
                    <key>begin</key>
                    <string>{{|{</string>
                    <key>disabled</key>
                    <integer>1</integer>
                    <key>end</key>
                    <string>}}|}</string>
                    <key>name</key>
                    <string>source.smarty.embedded.visualforce</string>
                    <key>patterns</key>
                    <array>
                        <dict>
                            <key>include</key>
                            <string>source.smarty</string>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>
        <key>string-double-quoted</key>
        <dict>
            <key>begin</key>
            <string>"</string>
            <key>beginCaptures</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.string.begin.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>"</string>
            <key>endCaptures</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.string.end.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>string.quoted.double.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#embedded-code</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#entities</string>
                </dict>
            </array>
        </dict>
        <key>string-single-quoted</key>
        <dict>
            <key>begin</key>
            <string>'</string>
            <key>beginCaptures</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.string.begin.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>'</string>
            <key>endCaptures</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.definition.string.end.visualforce</string>
                </dict>
            </dict>
            <key>name</key>
            <string>string.quoted.single.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#embedded-code</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#entities</string>
                </dict>
            </array>
        </dict>
        <key>tag-generic-attribute</key>
        <dict>
            <key>match</key>
            <string>(?&lt;=[^=])\b([a-zA-Z0-9:-]+)</string>
            <key>name</key>
            <string>entity.other.attribute-name.visualforce</string>
        </dict>
        <key>tag-id-attribute</key>
        <dict>
            <key>begin</key>
            <string>\b(id)\b\s*(=)</string>
            <key>captures</key>
            <dict>
                <key>1</key>
                <dict>
                    <key>name</key>
                    <string>entity.other.attribute-name.id.visualforce</string>
                </dict>
                <key>2</key>
                <dict>
                    <key>name</key>
                    <string>punctuation.separator.key-value.visualforce</string>
                </dict>
            </dict>
            <key>end</key>
            <string>(?!\G)(?&lt;='|"|[^\s&lt;&gt;/])</string>
            <key>name</key>
            <string>meta.attribute-with-value.id.visualforce</string>
            <key>patterns</key>
            <array>
                <dict>
                    <key>begin</key>
                    <string>"</string>
                    <key>beginCaptures</key>
                    <dict>
                        <key>0</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.string.begin.visualforce</string>
                        </dict>
                    </dict>
                    <key>contentName</key>
                    <string>meta.toc-list.id.visualforce</string>
                    <key>end</key>
                    <string>"</string>
                    <key>endCaptures</key>
                    <dict>
                        <key>0</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.string.end.visualforce</string>
                        </dict>
                    </dict>
                    <key>name</key>
                    <string>string.quoted.double.visualforce</string>
                    <key>patterns</key>
                    <array>
                        <dict>
                            <key>include</key>
                            <string>#embedded-code</string>
                        </dict>
                        <dict>
                            <key>include</key>
                            <string>#entities</string>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>begin</key>
                    <string>'</string>
                    <key>beginCaptures</key>
                    <dict>
                        <key>0</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.string.begin.visualforce</string>
                        </dict>
                    </dict>
                    <key>contentName</key>
                    <string>meta.toc-list.id.visualforce</string>
                    <key>end</key>
                    <string>'</string>
                    <key>endCaptures</key>
                    <dict>
                        <key>0</key>
                        <dict>
                            <key>name</key>
                            <string>punctuation.definition.string.end.visualforce</string>
                        </dict>
                    </dict>
                    <key>name</key>
                    <string>string.quoted.single.visualforce</string>
                    <key>patterns</key>
                    <array>
                        <dict>
                            <key>include</key>
                            <string>#embedded-code</string>
                        </dict>
                        <dict>
                            <key>include</key>
                            <string>#entities</string>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>captures</key>
                    <dict>
                        <key>0</key>
                        <dict>
                            <key>name</key>
                            <string>meta.toc-list.id.visualforce</string>
                        </dict>
                    </dict>
                    <key>match</key>
                    <string>(?&lt;==)(?:[^\s&lt;&gt;/'"]|/(?!&gt;))+</string>
                    <key>name</key>
                    <string>string.unquoted.visualforce</string>
                </dict>
            </array>
        </dict>
        <key>tag-stuff</key>
        <dict>
            <key>patterns</key>
            <array>
                <dict>
                    <key>include</key>
                    <string>#tag-id-attribute</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#tag-generic-attribute</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#string-double-quoted</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#string-single-quoted</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#embedded-code</string>
                </dict>
                <dict>
                    <key>include</key>
                    <string>#unquoted-attribute</string>
                </dict>
            </array>
        </dict>
        <key>unquoted-attribute</key>
        <dict>
            <key>match</key>
            <string>(?&lt;==)(?:[^\s&lt;&gt;/'"]|/(?!&gt;))+</string>
            <key>name</key>
            <string>string.unquoted.visualforce</string>
        </dict>
    </dict>
    <key>scopeName</key>
    <string>text.visualforce.basic</string>
    <key>uuid</key>
    <string>781d409c-7417-4b37-bd78-8e776f903101</string>
</dict>
</plist>
